<!DOCTYPE html>
<html>
    <head>
        <title>Stylists</title>

        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>

        <style>
        #left{
            float: left;


        }
        #right{
            float: left;
            background-color: linen;


        }


        </style>
    </head>
    <body>
<div class="container">


    {{client.getName}}

</div>
    </body>
</html>
