<!DOCTYPE html>
<html>
    <head>
        <title>Stylists</title>

        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    </head>
    <body>
<div class="container">


            <form action="/" method = "post">
                <input id="stylist_id" name="stylist_id" type="hidden" value="">
                <label for="name"> Stylist: </label>
                <input id="name" name="name" type="text"></input>

                <button type="Submit">Add stylist</button>
            </form>



</div>
    </body>
</html>
